<div class="mo-header">
    <div class="container">
        <div class="mo-header_section mo-header_section--title">Doug Miller</div>
        <div class="mo-header_section">
        </div>
        <div class="mo-header_section mo-header_section--icon">
            <a href="https://github.com/dmiller9911" target="_blank">
                <i class="fa fa-github fa-2x"></i>
            </a>
        </div>
        <div class="mo-header_section mo-header_section--icon">
            <a href="https://www.linkedin.com/in/douglasallenmiller" target="_blank">
                <i class="fa fa-linkedin fa-2x"></i>
            </a>
        </div>
        <div class="mo-header_section mo-header_section--icon">
            <a href="mailto:doug.miller@moseyout.com">
                <i class="fa fa-envelope fa-2x"></i>
            </a>
        </div>
    </div>
</div>