<div class="about-user-social">
    <div class="flex-row">
        <div class="flex-col-xs-6 flex-col-md-3">
            <div class="social-network" data-ng-click="vm.openNetwork('github')">
                <i class="mdi mdi-github-circle"></i>
            </div>
        </div>
        
        <div class="flex-col-xs-6 flex-col-md-3" data-ng-click="vm.openNetwork('linkedIn')">
            <div class="social-network">
                <i class="mdi mdi-linkedin"></i>
            </div>
        </div>
        
<!--
        <div class="flex-col-xs-6 flex-col-md-3">
            <div class="social-network social-network--github">
                <i class="mdi mdi-github-circle"></i>
            </div>
        </div>
        
-->
        <div class="flex-col-xs-6 flex-col-md-3">
            <div class="social-network" data-ng-click="vm.openNetwork('email')">
                <i class="mdi mdi-email"></i>
            </div>
        </div>
        
    </div>
</div>